<!DOCTYPE html>
<html>
  <head>
    <title>Banta</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    

    <%= link_to "All Rooms", root_path %>

    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "#{current_user.username.capitalize}\'s profile", user_path(current_user) %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <br>


    <%= yield %>
  </body>
</html>
