<!DOCTYPE html>
<html>
  <head>
    <title>Banta</title>
    <%= csrf_meta_tags %>

     
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
<!--     <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p>  -->


    
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <div class="page">
  <div class="vertical-menu">
        <div class = "logo">B</div>

        <div class = "icons">

        <% if current_user %>
          <%= link_to user_path(current_user) do %>
            <%= fa_icon "user" %>
          <% end %>


<!--   <%= link_to "#{current_user.username.capitalize}\'s profile", user_path(current_user) %> -->
<!--   <%= link_to "All Rooms", root_path %> -->


          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa_icon "sign-out" %>
          <% end %>

<!--           <%= link_to '<i class="fas fa-adjust"></i>'.html_safe, destroy_user_session_path, method: :delete %>
 -->        
        <% else %>



          <%= link_to new_user_session_path do %>
            <%= fa_icon "sign-in" %>
          <% end %>



        <% end %>
        <br>
      </div>
  </div>





      <%= yield %>
    </div>
  </body>
</html>
